@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row border border-warning">
        <h4 class="page-title border border-success">
            Добавить проект
            <a href="#" data-bs-toggle="modal" data-bs-target="#add-new-task-modal" class="btn btn-success btn-sm ms-3">Add New</a>
        </h4>
    </div>
    <div class="row">
        <div class="col border border-primary" style="">
            <div class="row-md-8 border border-primary">Открыт</div>
            <div class="row border border-primary">Проекты</div>
            <div class="row border border-primary">Добавить +</div>
        </div>
        <div class="col border border-warning">
            <div class="row  border border-warning">В работе</div>
            <div class="row  border border-warning">Проекты</div>
        </div>
        <div class="col border border-success">
            <div class="row  border border-success">Готово</div>
            <div class="row  border border-success">Проекты</div>
        </div>
    </div>
</div>
  
