@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row mb-3 text-center">
        <h4 class="page-title ">
            Список проектов
            <a href="#" data-bs-toggle="modal" data-bs-target="#create-project-modal" class="btn btn-success btn-sm ms-3">Добавить</a>
        </h4>
    </div>
    <div class="row">
        @*------------------Запланированы------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="">
                <div class="card-header">Запланированы</div>
                <div class="card-body">
                    @*------------------Карточки проектов------------------*@
                    <div class="card shadow text-dark bg-light" style="">
                        <div class="card-body py-3 px-3">
                            <small class="float-end text-muted">Дата</small>
                            <span class="badge bg-success">Низкий</span>
                            <h5 class="card-title my-2" style="font-size: 1.2rem;">
                                <a href="#" class="text-body text-decoration-none" data-bs-toggle="modal" data-bs-target="#project-detail-modal">Замена окон актового зала</a>
                            </h5>
                            <div class="float-end" style="">
                                <a href="#" class="text-decoration-none me-2" data-bs-toggle="modal" data-bs-target="#project-change-modal">
                                    <img src="img/pencil.png" style="max-height:15px;" />
                                </a>
                                <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#project-delete-modal">
                                    <img src="img/trash.png" style="max-height:15px;" />
                                </a>
                            </div>
                            <span class="text-muted">Команда</span>
                        </div>
                    </div>
                    @*------------------Карточки проектов@*------------------*@
                </div>
            </div>
        </div>
        @*------------------Запланированы------------------*@

        @*--------------------В работе---------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="min-height: 150px">
                <div class="card-header">В работе</div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        @*--------------------В работе---------------------*@

        @*--------------------Готовые----------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="">
                <div class="card-header">Готовые</div>
                <div class="card-body">
                    <h5 class="card-title">Light Заголовок карточки</h5>
                    <p class="card-text">Несколько быстрых примеров текста для построения на основе Заголовок карточки и составления основной части содержимого карточки.</p>
                </div>
            </div>
        </div>
        @*--------------------Готовые----------------------*@
    </div>
</div>
@*--------------------Добавление----------------------*@
<div class="modal fade" id="create-project-modal" tabindex="-1" aria-labelledby="create-project-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-project-modalLabel">Добавить проект</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Name" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Name" style="color:darkred"></span>
                    </div>
                    <div class="" style="display:flex">
                        <div class="form-group col-2 mb-3 me-5">
                            <label asp-for="Input.SelectedValueCategory"></label>
                            <select class="mt-2" asp-for="Input.SelectedValueCategory" asp-items="Model.CategoryItems"></select>
                        </div>
                        <div class="form-group col-2 mb-3 ms-5 me-5">
                            <label asp-for="Input.SelectedValuePriority"></label>
                            <select class="mt-2" asp-for="Input.SelectedValuePriority" asp-items="Model.PriorityItems"></select>
                        </div>
                        <div class="form-group col-2 mb-3 ms-5">
                            <label asp-for="Input.SelectedValueTeam"></label>
                            <select class="mt-2" asp-for="Input.SelectedValueTeam" asp-items="Model.TeamItems"></select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.Description" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Description" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Description" style="color:darkred"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn-secondary">Сохранить</button>
            </div>
        </div>
      </div>
</div>
@*--------------------Добавление----------------------*@
@*--------------------Просмотр------------------------*@
<div class="modal fade" id="project-detail-modal" tabindex="-1" aria-labelledby="project-detail-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="project-detail-modalLabel" style="font-size: 1.125rem;">
                    Добавить проект
                    <span class="badge bg-success ms-2">Низкий</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Описание</h5>
                    <p class="text-muted mb-4">
                        Само описание, сделать передачу
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Дата создания</h5>
                                <p>Сама дата</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Дата окончания</h5>
                                <p>Сама дата</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Категория</h5>
                                <p>Название</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Команда</h5>
                                <p>Название</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Просмотр-----------------------*@
@*--------------------Изменение------------------------*@
<div class="modal fade" id="project-change-modal" tabindex="-1" aria-labelledby="project-change-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="project-change-modalLabel" style="font-size: 1.125rem;">
                    Добавить проект
                    <span class="badge bg-success ms-2">Низкий</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Описание</h5>
                    <p class="text-muted mb-4">
                        Само описание, сделать передачу
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Дата создания</h5>
                                <p>Сама дата</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Дата окончания</h5>
                                <p>Сама дата</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Категория</h5>
                                <p>Название</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Команда</h5>
                                <p>Название</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-danger">Удалить</button>
                <button type="submit" class="btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Изменение-----------------------*@
@*--------------------Удаление------------------------*@
<div class="modal fade" id="project-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="project-delete-modalLabes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="project-delete-modalLabel" style="font-size: 1.125rem;">
                    Удаление проекта
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Вы уверены что хотите удалить данный проект?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-danger">Удалить</button>
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Удаление-----------------------*@
