@page
@model ProjectsPlanning.Chernetsov.Pages.TasksModel
@{
}

<div class="container">
    <div class="row mb-3 text-center">
        <h4 class="page-title ">
            Список задач
            @if (User.IsInRole("Администратор"))
            {
                <a href="#" data-bs-toggle="modal" data-bs-target="#create-task-modal" class="btn btn-success btn-sm ms-3">Добавить</a>
            }
        </h4>
    </div>
    <div class="row">
        @*------------------Запланированы------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="">
                <div class="card-header">Запланированы</div>
                <div class="card-body">
                    @*------------------Карточки задач------------------*@
                    <div class="card shadow text-dark bg-light" style="">
                        <div class="card-body py-3 px-3">
                            <small class="float-end text-muted">Дата</small>
                            <span class="badge bg-success">Низкий</span>
                            <h5 class="card-title my-2" style="font-size: 1.2rem;">
                                <a href="#" class="text-body text-decoration-none" data-bs-toggle="modal" data-bs-target="#task-detail-modal">Закупка окон</a>
                            </h5>
                            @if (User.IsInRole("Администратор"))
                            {
                                <div class="float-end" style="">
                                    <a href="#" class="text-decoration-none me-2" data-bs-toggle="modal" data-bs-target="#task-change-modal">
                                        <img src="img/pencil.png" style="max-height:15px;" />
                                    </a>
                                    <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#task-delete-modal">
                                        <img src="img/trash.png" style="max-height:15px;" />
                                    </a>
                                </div>
                            }
                            <span class="text-muted">Тип задачи</span>
                        </div>
                    </div>
                    @*------------------Карточки задач@*------------------*@
                </div>
            </div>
        </div>
        @*------------------Запланированы------------------*@

        @*--------------------В работе---------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="min-height: 150px">
                <div class="card-header">В работе</div>
                <div class="card-body">

                </div>
            </div>
        </div>
        @*--------------------В работе---------------------*@

        @*--------------------Готовые----------------------*@
        <div class="col">
            <div class="card shadow text-dark bg-light mb-3" style="min-height: 150px">
                <div class="card-header">Готовые</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        @*--------------------Готовые----------------------*@
    </div>
</div>
@*--------------------Добавление----------------------*@
<div class="modal fade" id="create-task-modal" tabindex="-1" aria-labelledby="create-task-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-task-modalLabel">Добавить задачу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Name" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Name" style="color:darkred"></span>
                    </div>
                    <div class="row" style="display:flex">
                        <div class="form-group col-2 mb-3 me-5">
                            <label asp-for="Input.SelectedValueTaskType">Категория</label>
                            <select class="mt-2" asp-for="Input.SelectedValueTaskType"></select>
                        </div>
                        <div class="form-group col-2 mb-3 ms-5 me-5">
                            <label asp-for="Input.SelectedValuePriority"></label>
                            <select class="mt-2" asp-for="Input.SelectedValuePriority"></select>
                        </div>
                        <div class="form-group col-2 mb-3 ms-5 me-5">
                            <label asp-for="Input.SelectedValuePriority">Проект:</label>
                            <select class="mt-2" asp-for="Input.SelectedValuePriority"></select>
                        </div>
                    </div>
                    <div class="row" style="display:flex">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#create-tasktype-modal" class="btn btn-secondary btn-sm mt-2">Добавить категорию</a>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.Description" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Description" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Description" style="color:darkred"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn-success">Сохранить</button>
            </div>
        </div>
      </div>
</div>
@*--------------------Добавление----------------------*@
@*--------------------Просмотр------------------------*@
<div class="modal fade" id="task-detail-modal" tabindex="-1" aria-labelledby="task-detail-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="task-detail-modalLabel" style="font-size: 1.125rem;">
                    Название задачи
                    <span class="badge bg-success ms-2">Низкий</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Описание</h5>
                    <p class="text-muted mb-4">
                        Само описание, сделать передачу
                    </p>
                    <h5 class="mt-0">Проект</h5>
                    <p class="mb-4">
                        его название
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Категория</h5>
                                <p>Название</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Дата окончания</h5>
                                <p>Сама дата</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Просмотр-----------------------*@
@*--------------------Изменение------------------------*@
<div class="modal fade" id="task-change-modal" tabindex="-1" aria-labelledby="task-change-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="task-change-modalLabel" style="font-size: 1.125rem;">
                    Название задачи
                    <span class="badge bg-success ms-2">Низкий</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Описание</h5>
                    <p class="text-muted mb-4">
                        Само описание, сделать передачу
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="mb-4">
                                <h5>Приоритет</h5>
                                <p>список</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-4">
                                <h5>Состояние</h5>
                                <p>список</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-danger">Удалить</button>
                <button type="submit" class="btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Изменение-----------------------*@
@*--------------------Удаление------------------------*@
<div class="modal fade" id="task-delete-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="task-delete-modalLabes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="task-delete-modalLabel" style="font-size: 1.125rem;">
                    Удаление задачи
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="p-2">
                    <h5 class="mt-0">Вы уверены что хотите удалить эту задачу?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-danger">Удалить</button>
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Удаление-----------------------*@
@*--------------------Добавление категории----------------------*@
<div class="modal fade" id="create-tasktype-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="create-tasktype-modalLabes" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-tasktype-modalLabel">Добавить категорию</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Input.Name" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Name" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Name" style="color:darkred"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.Description" class="col-sm-2 col-form-label"></label>
                        <input asp-for="Input.Description" class="form-control" id="inputTitle" />
                        <span asp-validation-for="Input.Description" style="color:darkred"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn-success">Добавить</button>
            </div>
        </div>
    </div>
</div>
@*--------------------Добавление----------------------*@