<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Планирование выполнения проектов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectsPlanning.Chernetsov.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/container.css" />
    
</head>
<body style="background-color: #e5e7e8;">
                            @*-------------------------Верх@*-------------------------*@
    <header>
        <nav class="navbar navbar-expand-sm border-bottom navbar-toggleable-sm navbar-light box-shadow mb-3" style="background-color: #dcdfe0;">
            <div class="container-fluid">
                <div class="row container-fluid justify-content-end">
                    @*Название и переходы*@
                    <div class="col-4 container-fluid align-content-center">
                        @*Название*@
                        <div class="row text-center">
                            <h1>Планирование выполнения проектов</h1>
                        </div>
                        @*Переходы*@
                        <div class="row">
                            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1 justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Проекты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Tasks">Задачи</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Employees">Список сотрудников</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Teams">Команды</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
                            @*-------------------------Тело@*-------------------------*@                  
    <div class="wrapper container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
                            @*-------------------------Низ@*-------------------------*@
    <footer class="border-top fixed-bottom footer text-muted">
        <div class="container">
            &copy; 2023 - Планирование выполнения проектов - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>